*{
  background-color: #ff00ff;
  background-color: #000;
  /* background-color: #cc00cc; */
  color: #00ffff;
  color: #ffff00;
  color: #444444;
  color: #000;
  color: #fff;
  color: #111111;
  color: #a3a3a3;
  color: #dfa3a3;
  color: #2c2c2c;
  color: #fff;
  /* color: blue; */
}